$('#<%= dom_id(@comment) %>').replaceWith('<%= escape_javascript(raw(render @comment)) %>');
<% if current_admin %>
	$(".admin").show();
<% end %>

// Alternate comment highlighting
$(document).ready(function () {
	$('#comments .comment').removeClass('even');
	$('#comments .comment').removeClass('odd');
	$('#comments .comment:nth-child(odd)').addClass('even');
	$('#comments .comment:nth-child(even)').addClass('odd');	
})

// Fucking cheating at the unobtrusive comment replies

$(document).ready( function () {
	$('a.comment-reply').remove();
	$('#comments .comment a.permalink').each( function() {
		$(this).after('  <a href="#" class="comment-reply">Reply</a>');
	});
	$('a.comment-reply').click( function() {
		var comment_id = $(this).parent().parent().data('id');
		var reply_string = '@' + comment_id + "\r\n\r\n";
		$('#new_comment_form').show();
		$('#new_comment_form textarea').val(reply_string);
	});
});

// Derp. Timestamps.
jQuery(document).ready(function() {
	jQuery("abbr.timeago").timeago();
});