/* @override http://127.0.0.1:3000/stylesheets/post.css?1297707284 */

form#new_post.formtastic.post {
	margin: 10px 10px;
}

#new_post fieldset.inputs ol li{
	padding: 2px 2px;
	margin: 2px 2px;
}

div.post {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}

.locked {
	text-decoration: line-through;
}