/* @override 
	http://127.0.0.1:3000/stylesheets/post.css?1294416315
	http://127.0.0.1:3000/stylesheets/post.css?1294416446
	http://127.0.0.1:3000/stylesheets/post.css?1294418638
	http://127.0.0.1:3000/stylesheets/post.css?1294421672
	http://localhost:3000/stylesheets/post.css?1294881776
*/

body { background-color: #dadada;}

.content {
  background: #fff;
  padding: 40px;
  margin: 40px auto;
  width: 680px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

form#new_post.formtastic.post {
	margin: 10px 10px;
}

#new_post fieldset.inputs ol li{
	padding: 2px 2px;
	margin: 2px 2px;
}

div.digg_pagination {
	margin: 10px 10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}


strong.authenticated {
	color: #0432ff;
}


div.post {
	border-top: 1px solid #000;
	padding-top: 5px;
}
