body { background-color: #000;}

.container {
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

form#new_post.formtastic.post {
	margin: 10px 10px;
}

#new_post fieldset.inputs ol li{
	padding: 2px 2px;
	margin: 2px 2px;
}

div.digg_pagination {
	margin: 10px 10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}


strong.authenticated {
	color: #0432ff;
}


div.post {
	border-top: 1px solid #000;
	padding-top: 5px;
}

#post-page-thumbbar {

}