<div class='span-24 last'>
	<p>
		Signed in as <%= current_admin.email %> -
		<%= link_to 'Manage Bans', bans_path %> -
		<%= link_to 'Sign Out', destroy_admin_session_path %>
		<%= javascript_tag('$(document).ready(function() { $(".admin").show(); })')%>
	</p>
</div>

