<div class='span-22 prepend-2 last'>
	<% @boards.each do |board| %>
		<%= render :partial => 'shared/board_box', :locals => { :board => board } %>
	<% end %>
</div>

<br />
<div class='span-24 last'>
<% if admin_signed_in? %>
<%= link_to 'New Board', new_board_path %>
<% end %>
</div>