<%= form_for(@picwall) do |f| %>
  <% if @picwall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picwall.errors.count, "error") %> prohibited this picwall from being saved:</h2>

      <ul>
      <% @picwall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
