/* @override 
	http://iphone.localhost.com:3000/stylesheets/iphone/app.css?1294844489
	http://iphone.localhost.com:3000/stylesheets/iphone/app.css?1294844911
	http://iphone.localhost.com:3000/stylesheets/iphone/app.css?1294845042
	http://iphone.localhost.com:3000/stylesheets/iphone/app.css?1294845614
	http://iphone.localhost.com:3000/stylesheets/iphone/app.css?1294845628
*/

.content {
	width: 90% auto;
	padding-left: 5%;
	padding-right: 5%;
}